html,
body {
    height: 100%;
}

body {
    margin: 0;
    --question-offwhite: #eee;
    --answer-gray: #bbbbbb;
    --answer-dark-gray: #9d9d9d;
    --answer-red: #e21c3d;
    --answer-dark-red: #ca1836;
    --answer-orange: #d89d02;
    --answer-dark-orange: #b98700;
    --answer-blue: #1369d0;
    --answer-dark-blue: #115db8;
    --answer-green: #288a0e;
    --answer-dark-green: #237b0b;
    --answer-correct: #67bf3a;
    --answer-dark-correct: #58a332;
    --answer-wrong: #ff3456;
    --answer-dark-wrong: #d92c49;
}

.question-container,
.players-question-container {
    display: flex;
    flex-direction: column;
    background: var(--question-offwhite);
    height: 100%;
}

.question-container .question {
    background: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 0.6em 0;
    border-bottom: solid black;
}

.question-container .gap {
    flex: 3;
}

:is(.question-container, .players-question-container) .answer-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pushable {
    position: relative;
    appearance: none;
    border: none;
    padding: 0;
    border-radius: 0.2em;
    cursor: pointer;
    outline-offset: 4px;
    transition: 100ms;
    user-select: none;
}

.pushable .front {
    display: block;
    position: relative;
    border-radius: 0.2em;
    will-change: transform;
    transform: translateY(-4px);
    height: 100%;
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable.disabled {
    cursor: revert;
}

.pushable:is(:active, .active):not(.disabled) .front {
    transform: translateY(-1px);
}

.question-container .answer {
    margin: 0.2em;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
}

.players-question-container .answer {
    margin: 0.2em;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.question-container .answer .front {
    display: flex;
    align-items: center;
}

.question-container .answer .front::before {
    content: ' ';
    display: inline-block;
    height: 1em;
    width: 1em;
    padding: 0 0.3em;
}


.pushable.disabled {
    background: var(--answer-dark-gray);
}

.pushable.disabled .front {
    background: var(--answer-gray);
}

.pushable.answer:where(:nth-child(1)) {
    background: var(--answer-dark-red);
}

.pushable.answer:where(:nth-child(1)) .front {
    background: var(--answer-red);
}

.question-container .answer:nth-child(1) .front::before {
    background: center / contain no-repeat url('../media/fuiz_circle.svg');
}


.players-question-container .answer:nth-child(1) .front {
    background-image: url('../media/fuiz_circle.svg');
}

.pushable.answer:where(:nth-child(2)) {
    background: var(--answer-dark-orange);
}

.pushable.answer:where(:nth-child(2)) .front {
    background: var(--answer-orange);
}

.question-container .answer:nth-child(2) .front::before {
    background: center / contain no-repeat url('../media/fuiz_square.svg');
}

.players-question-container .answer:nth-child(2) .front {
    background-image: url('../media/fuiz_square.svg');
}

.pushable.answer:where(:nth-child(3)) {
    background: var(--answer-dark-green);
}

.pushable.answer:where(:nth-child(3)) .front {
    background: var(--answer-green);
}

.question-container .answer:nth-child(3) .front::before {
    background: center / contain no-repeat url('../media/fuiz_triangle.svg');
}

.players-question-container .answer:nth-child(3) .front {
    background-image: url('../media/fuiz_triangle.svg');
}

.pushable:where(.answer:where(:nth-child(4)), .blue) {
    background: var(--answer-dark-blue);
}

.pushable:where(.answer:where(:nth-child(4)), .blue) .front {
    background: var(--answer-blue);
}

.question-container .answer:nth-child(4) .front::before {
    background: center / contain no-repeat url('../media/fuiz_tilted.svg');
}

.players-question-container .answer:nth-child(4) .front {
    background-image: url('../media/fuiz_tilted.svg');
}

.players-question-container .answer .front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
}

.leaderboard {
    background: var(--answer-orange);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.leaderboard .title {
    background: white;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    padding: 0.6em 0;
}

.leaderboard .record-container {
    font-size: 1.5em;
    padding: 0 2em;
    margin: 1em 0;
    overflow: hidden;
}

.leaderboard .record {
    display: flex;
    color: white;
    border-radius: 0.2em;
    padding: 0.4em;
    margin: 0.2em 0;
    font-weight: bold;
    justify-content: space-between;
}

.leaderboard .rank {
    padding-right: 1em;
}

.leaderboard .record.own {
    background: white;
    color: var(--answer-orange);
}

.questiononly-container {
    background: var(--answer-orange);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questiononly-container .question {
    font-weight: bold;
    background: white;
    font-size: 2em;
    padding: 0.6em 0;
    text-align: center;
    box-shadow: 0 0 4px 2px rgba(0 0 0 / 20%);
}

.menu {
    height: 100%;
    background: var(--answer-orange);
}

.menu .pushable {
    width: min-content;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
}

.menu textarea {
    resize: none;
}

.menu textarea, input[type=text] {
    border: rgb(199, 199, 199) solid 0.15em;
    border-radius: 0.5em;
    padding: 0.4em 0.4em;
}

.menu .pushable .front {
    padding: 1em 2em;
}

.menu .form-container {
    padding: 1em;
}

.menu form {
    background: white;
    border-radius: 0.2em;
    margin: 1em auto 1em auto;
    padding: 1em;
    display: flex;
    min-width: 60vw;
    width: 60ch;
    gap: 0.5em;
}

.menu form .input {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5em;

}

label, input, textarea, button {
    display: block;
}