html,
body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    --question-offwhite: #eee;
    --answer-gray: #bbbbbb;
    --answer-dark-gray: #9d9d9d;
    --answer-red: #e21c3d;
    --answer-dark-red: #ca1836;
    --answer-orange: #d89d02;
    --answer-dark-orange: #b98700;
    --answer-blue: #1369d0;
    --answer-dark-blue: #115db8;
    --answer-green: #288a0e;
    --answer-dark-green: #237b0b;

    --answer-correct: #67bf3a;
    --answer-dark-correct: #58a332;
    --answer-wrong: #ff3456;
    --answer-dark-wrong: #d92c49;
    --answer-first-choice: var(--answer-red);
    --answer-first-choice-dark: var(--answer-dark-red);
    --answer-second-choice: var(--answer-orange);
    --answer-second-choice-dark: var(--answer-dark-orange);
    --answer-third-choice: var(--answer-green);
    --answer-third-choice-dark: var(--answer-dark-green);
    --answer-fourth-choice: var(--answer-blue);
    --answer-fourth-choice-dark: var(--answer-dark-blue);
    --answer-disabled-choice: var(--answer-gray);
    --answer-disabled-choice-dark: var(--answer-dark-gray);

    --website-main: var(--answer-orange);
    --website-dark: var(--answer-dark-orange);
}

.pushable {
    position: relative;
    appearance: none;
    border: none;
    padding: 0;
    border-radius: 0.2em;
    cursor: pointer;
    outline-offset: 4px;
    user-select: none;
    transform: translateY(0);
    /* very important */
}

.pushable .front {
    display: block;
    position: relative;
    border-radius: 0.2em;
    transform: translateY(-4px);
    height: 100%;
}

.pushable:hover:not(.off) {
    filter: brightness(110%);
}

.pushable.off {
    cursor: revert;
}

.pushable:is(:active, .active):not(.off) .front {
    transform: translateY(-1px);
}

.answer-choice-container :where(.pushable.answer:nth-child(1)) {
    background: var(--answer-first-choice-dark);
}

.answer-choice-container :where(.pushable.answer:nth-child(1)) .front {
    background: var(--answer-first-choice);
}

.answer-choice-container :where(.pushable.answer:nth-child(2)) {
    background: var(--answer-second-choice-dark);
}

.answer-choice-container :where(.pushable.answer:nth-child(2)) .front {
    background: var(--answer-second-choice);
}

.answer-choice-container :where(.pushable.answer:nth-child(3)) {
    background: var(--answer-third-choice-dark);
}

.answer-choice-container :where(.pushable.answer:nth-child(3)) .front {
    background: var(--answer-third-choice);
}

.answer-choice-container :where(.pushable.answer:nth-child(4)) {
    background: var(--answer-fourth-choice-dark);
}

.answer-choice-container :where(.pushable.answer:nth-child(4)) .front {
    background: var(--answer-fourth-choice);
}

.pushable.red {
    background: var(--answer-dark-red);
}

.pushable.red .front {
    background: var(--answer-red);
}

.pushable.orange {
    background: var(--answer-dark-orange);
}

.pushable.orange .front {
    background: var(--answer-orange);
}

.pushable.blue {
    background: var(--answer-dark-blue);
}

.pushable.blue .front {
    background: var(--answer-blue);
}

.pushable.green {
    background: var(--answer-dark-green);
}

.pushable.green .front {
    background: var(--answer-green);
}

.pushable.correct {
    background: var(--answer-dark-correct);
}

.pushable.correct .front {
    background: var(--answer-correct);
}

.pushable.wrong {
    background: var(--answer-dark-wrong);
}

.pushable.wrong .front {
    background: var(--answer-wrong);
}

.pushable.disabled {
    background: var(--answer-disabled-choice-dark);
}

.pushable.disabled .front {
    background: var(--answer-disabled-choice);
}

.question-display {
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    background: var(--question-offwhite);
    height: 100%;
    overflow: hidden;
}

.question-display .question-text {
    background: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 0.6em 0.3em;
    border-bottom: solid black;
}

.question-display .middle {
    display: block;
    padding: 0 1em;
    flex: 3;
    align-items: center;
    justify-content: center;
}

.question-display .middle .image {
    flex: 1;
    height: 100%;
}

.question-display .answer-choice-container {
    flex: 1;
    padding-top: 0.2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.question-display .answer {
    min-height: max(3em, 12vh);
    font-size: min(1.5em, 6vw);
    margin: 0.2em;
    color: white;
    font-weight: bold;
    text-align: left;
    word-break: break-all;
}

.question-display.mobile .answer {
    text-align: center;
}

.question-display.desktop .answer .front {
    display: flex;
    align-items: center;
}

.question-display.desktop .answer .front::before {
    content: ' ';
    display: inline-block;
    height: 100%;
    width: 1.8em;
    margin: 0 0.6em;
}

.question-display.desktop .answer:nth-child(1) .front::before {
    background: center / contain no-repeat url('../media/fuiz_circle.svg');
}

.question-display.mobile .answer:nth-child(1) .front {
    background-image: url('../media/fuiz_circle.svg');
}

.question-display.desktop .answer:nth-child(2) .front::before {
    background: center / contain no-repeat url('../media/fuiz_square.svg');
}

.question-display.mobile .answer:nth-child(2) .front {
    background-image: url('../media/fuiz_square.svg');
}

.question-display.desktop .answer:nth-child(3) .front::before {
    background: center / contain no-repeat url('../media/fuiz_triangle.svg');
}

.question-display.mobile .answer:nth-child(3) .front {
    background-image: url('../media/fuiz_triangle.svg');
}

.question-display.desktop .answer:nth-child(4) .front::before {
    background: center / contain no-repeat url('../media/fuiz_tilted.svg');
}

.question-display.mobile .answer:nth-child(4) .front {
    background-image: url('../media/fuiz_tilted.svg');
}

.question-display.desktop .pushable.answer.check .front::after {
    margin-left: auto;
    background: center / contain no-repeat url('../media/fuiz_check.svg');
    content: ' ';
    height: 1em;
    width: 1em;
    padding: 0 0.3em;
}

.question-display.desktop .pushable.answer.cross .front::after {
    margin-left: auto;
    background: center / contain no-repeat url('../media/fuiz_cross.svg');
    content: ' ';
    height: 0.8em;
    width: 0.8em;
    padding: 0 0.3em;
}

.question-display.mobile .answer.cross .front {
    background-image: url('../media/fuiz_cross.svg');
}

.question-display.mobile .answer.check .front {
    background-image: url('../media/fuiz_check.svg');
}

.question-display.mobile .answer .front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% auto;
}

.question-display .middle .pushable {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    color: white;
    font-weight: bold;
    z-index: 100;
}

.question-display .middle .pushable .front {
    padding: 1em 2em;
}

.question-display .bar-container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    gap: 0.5em;
    justify-content: center;
}

.question-display .bar {
    height: 100%;
    max-height: 50vh;
    max-width: 6em;
    display: flex;
    flex: 1 1 0px;
    flex-direction: column-reverse;
    gap: 0.5em;
}

.question-display .base {
    min-height: 2.5em;
    border-radius: 0.2em;
}

.question-display .stem {
    border-radius: 0.2em;
}

.question-display .bar:nth-child(1) .base {
    background: center / auto 80% no-repeat url('../media/fuiz_circle.svg');
    background-color: var(--answer-first-choice);
}

.question-display .bar:nth-child(2) .base {
    background: center / auto 80% no-repeat url('../media/fuiz_square.svg');
    background-color: var(--answer-second-choice);
}

.question-display .bar:nth-child(3) .base {
    background: center / auto 80% no-repeat url('../media/fuiz_triangle.svg');
    background-color: var(--answer-third-choice);
}

.question-display .bar:nth-child(4) .base {
    background: center / auto 80% no-repeat url('../media/fuiz_tilted.svg');
    background-color: var(--answer-fourth-choice);
}

.question-display .bar:nth-child(1) .stem {
    background: var(--answer-first-choice);
}

.question-display .bar:nth-child(2) .stem {
    background: var(--answer-second-choice);
}

.question-display .bar:nth-child(3) .stem {
    background: var(--answer-third-choice);
}

.question-display .bar:nth-child(4) .stem {
    background: var(--answer-fourth-choice);
}

.question-display .bar:nth-child(1) .count {
    color: var(--answer-first-choice);
}

.question-display .bar:nth-child(2) .count {
    color: var(--answer-second-choice);
}

.question-display .bar:nth-child(3) .count {
    color: var(--answer-third-choice);
}

.question-display .bar:nth-child(4) .count {
    color: var(--answer-fourth-choice);
}

.question-display .bar:nth-child(1) .correct-checkmark {
    background-color: var(--answer-first-choice);
}

.question-display .bar:nth-child(2) .correct-checkmark {
    background-color: var(--answer-second-choice);
}

.question-display .bar:nth-child(3) .correct-checkmark {
    background-color: var(--answer-third-choice);
}

.question-display .bar:nth-child(4) .correct-checkmark {
    background-color: var(--answer-fourth-choice);
}

.question-display .choice-info {
    display: flex;
    font-size: 2em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.question-display .correct-checkmark {
    height: 1em;
    width: 1em;
    display: inline-block;
    -webkit-mask: url('../media/black_fuiz_check.svg') no-repeat 50% 50%;
    mask: url('../media/black_fuiz_check.svg') no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.leaderboard {
    background: var(--website-main);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.leaderboard .title {
    background: white;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    padding: 0.6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard .title .pushable {
    position: absolute;
    right: 1em;
    color: white;
    font-weight: bold;
    font-size: 0.5em;
}

.leaderboard .title .pushable .front {
    padding: 1em 2em;
}

.leaderboard .record-container {
    font-size: min(1.5em, 3vh);
    width: -webkit-fill-available;
    max-width: 60ch;
    padding: 0 0.5em;
    margin: 0.5em auto;
    overflow: hidden;
}

.leaderboard .record {
    display: flex;
    color: white;
    border-radius: 0.2em;
    padding: 0.4em;
    margin: 0.2em 0;
    font-weight: bold;
    justify-content: space-between;
    background-color: var(--website-dark);
}

.leaderboard .record-container .rank {
    padding-right: 1em;
}

.leaderboard .record.own {
    background: white;
    color: var(--website-main);
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.leaderboard .final .record:nth-child(1) {
    font-size: min(2em, 9vw);
    opacity: 0;
    animation: 0.5s 8s forwards appear;
}

.leaderboard .final .record:nth-child(2) {
    font-size: min(1.4em, 8.5vw);
    opacity: 0;
    animation: 0.5s 4.5s forwards appear;
}

.leaderboard .final .record:nth-child(3) {
    font-size: min(1.2em, 8vw);
    opacity: 0;
    animation: 0.5s 1s forwards appear;
}

.leaderboard .final .record:nth-child(3) :where(.name,.score) {
    opacity: 0;
    animation: 1s 2.5s forwards appear;
}

.leaderboard .final .record:nth-child(2) :where(.name,.score) {
    opacity: 0;
    animation: 1s 6s forwards appear;
}

.leaderboard .final .record:nth-child(1) :where(.name,.score) {
    opacity: 0;
    animation: 1s 9.5s forwards appear;
}

.leaderboard .final .record:nth-child(n+4) {
    opacity: 0;
    animation: 0.8s 12s forwards appear;
}

.question-only-container {
    background: var(--website-main);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question-only-container .question-text {
    font-weight: bold;
    background: white;
    font-size: 2em;
    padding: 0.6em 0.2em;
    text-align: center;
    box-shadow: 0 0 4px 2px rgba(0 0 0 / 20%);
}


.question-only-container .pushable {
    position: absolute;
    right: 1em;
    top: 1em;
    color: white;
    font-weight: bold;
}

.question-only-container .pushable .front {
    padding: 1em 2em;
}

#sessionID {
    text-transform: uppercase;
}

.menu {
    height: inherit;
    background: var(--website-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu .pushable {
    width: min-content;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
    width: 100%;
    margin: 0.5em 0;
    margin-top: calc(0.5em + 4px);
}

.menu textarea {
    resize: none;
}

.menu textarea,
input[type=text] {
    border: rgb(199, 199, 199) solid 0.15em;
    border-radius: 0.5em;
    padding: 0.4em 0.4em;
}

.menu .pushable .front {
    padding: 1em 2em;
}

.menu .form-container {
    width: 18em;
    max-width: 40ch;
    font-size: 1.2em;
}

.menu form {
    background: white;
    border-radius: 0.2em;
    margin: 1em auto 1em auto;
    padding: 1em;
}

.menu .go-back-icon {
    content: ' ';
    background: center / contain no-repeat url('../media/black_arrow_back.svg');
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.3em;
}

.menu {
    align-items: center;
}

.menu .error {
    margin: 0.5em;
    color: var(--answer-wrong);
    font-weight: bold;
    align-items: center;
}

.menu .error-icon {
    content: ' ';
    background: center / contain no-repeat url('../media/error.svg');
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.3em;
}

.menu .go-back {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em;
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.menu form .input {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.menu form input {
    text-align: center;
}

.menu .logo {
    display: block;
    max-height: 10em;
    margin: 1em auto 1.5em auto;
}

label,
input,
textarea,
button {
    display: block;
    font-size: inherit;
    font-family: inherit;
}

.join-watching {
    height: 100%;
    background: var(--website-main);
}

.join-watching .title {
    background: white;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    padding: 0.6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-watching .players {
    text-align: center;
    overflow: hidden;
    height: max-content;
}

.join-watching .name {
    background: var(--answer-dark-orange);
    font-size: min(1.5em, 3vh);
    padding: 0.2em;
    margin: 0.2em;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.join-watching .pushable {
    position: absolute;
    right: 1em;
    color: white;
    font-weight: bold;
    font-size: 0.5em;
}

.join-watching .front {
    padding: 1em 2em;
}

.seconds-timer {
    position: absolute;
    left: 1em;
    border-radius: 2em;
    width: 3em;
    height: 3em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.question-only-container .seconds-timer {
    top: 1em;
}

.main-seconds-timer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    font-size: 3em;
    width: 3em;
    height: 3em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}